<h1 class="text-center"><%= t('.title', resource: resource_name.to_s.humanize) %></h1>

<div class="col-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="px-2">
      <%= devise_error_messages! %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <br>
      <%= t('.we_need_your_current_password_to_confirm_your_changes') %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group col-12 mx-auto my-3">
      <%= f.submit t('.update'), class: 'btn btn-primary col-2 offset-5' %>
    </div>
  <% end %>

  <div class="cancel-my-account-area text-center mt-5">
    <h2 class="text-center"><%= t('.cancel_my_account') %></h2>
    <p><%= t('.unhappy') %></p>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-danger" %>
  </div>

  <%= link_to t('.back'), :back %>
</div>
