<h1 class="text-center"><%= t('.forgot_your_password') %></h1>

<div class="col-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= bootstrap_devise_error_messages! %>

    <div class="form-group col-10 offset-2 mx-auto">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-group col-12 my-3">
      <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary col-8 offset-2' %>
    </div>
  <% end %>

  <div class="col-10 offset-2 mx-auto">
    <%= render 'devise/shared/links' %>
  </div>
</div>
