<h1 class="text-center">記事詳細</h1>

<div class="col-10">
  <table class="table text-center">
    <thead>
      <tr>
        <th><%= Article.human_attribute_name(:title)%></th>
        <th><%= Article.human_attribute_name(:content)%></th>
        <th><%= Article.human_attribute_name(:image)%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @article.title %></td>
        <td><%= @article.content %></td>
        <td><%= @article.image %></td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to t(".edit"), edit_users_article_path, class: "btn btn-success" %>
    <%= link_to t(".destroy"), users_article_path, method: :delete, class: "btn btn-danger ml-1" %>
  </div>

  <div class="text-center my-3">
    <%= link_to t(".btn_to_index"), users_articles_path, class: "btn btn-primary" %>
  </div>
</div>