<!DOCTYPE html>
<html>
  <head>
    <title>BeforeIntern</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom", media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="flash text-center">
          <p class="notice"><%= notice %></p>
          <p class="alert"><% alert %></p>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
